body {
    background-color: #f0f8ff;
}

h2 {
    color: #333;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.btn-primary {
    width: 100%;
}
